/*
 * => BUTTONS
 * ---------------------------------------------------------------------------*/

body .x-btn {

	font-weight: bold;

	// Transparent
	&.x-btn-transparent {
		background-color: #fff;
		color: $green;
		border-width: 2px;
		font-weight: bold;
		&:hover {
			background-color: $blue;
			border-color: $blue;
			color: #fff;
		}
	}
	&.red-transparent {
		background-color: #fff;
		border-color: $red;
		border-width: 2px;
		color: $red;
		&:hover {
			background-color: $red;
			border-color: $red;
			color: #fff;
		}
	}
	&.blue-transparent {
		background-color: #fff;
		border-color: $blue;
		border-width: 2px;
		color: $blue;
		&:hover {
			background-color: $blue;
			border-color: $blue;
			color: #fff;
		}
	}
	&.green-transparent {
		background-color: #fff;
		border-color: $green;
		border-width: 2px;
		color: $green;
		&:hover {
			background-color: $green;
			border-color: $green;
			color: #fff;
		}
	}
	&.white-transparent {
		background-color: transparent;
		border-color: #fff;
		border-width: 2px;
		color: #fff;
		&:hover {
			background-color: rgba(255,255,255,0.3);
			border-color: #fff;
			color: #fff;
		}
	}

	// Red Solid
	&.red {
		background-color: $red;
		border-color: $red;
		&:hover {
			background-color: $blue;
			border-color: $blue;
		}
	}

	// Blue Solid
	&.blue {
		background-color: $blue;
		border-color: $blue;
		&:hover {
			background-color: $green;
			border-color: $green;
		}
	}

	// Button Hover controls
	&.hover-red {
		&:hover,
		&:focus {
			background-color: $red;
			border-color: $red;
		}
	}
	&.hover-green {
		&:hover,
		&:focus {
			background-color: $green;
			border-color: $green;
		}
	}
	&.hover-blue {
		&:hover,
		&:focus {
			background-color: $blue;
			border-color: $blue;
		}
	}
}