 /*
 * => BUTTON MIXINS
 * ---------------------------------------------------------------------------*/
@mixin createButton($name, $value) {

	body .x-btn {

		// transparent
		&.transparent-#{$name} {
			background-color: #fff;
			color: $value;
			border-width: 2px;
			font-weight: bold;
			&:hover,
			&:focus {
				background-color: $value;
				border-color: $value;
				color: #fff;
			}
		}
		// solid
		&.solid-#{$name} {
			background-color: $value;
			border-color: $value;
			&:hover,
			&:focus {
				background-color: darken($value, 5%);
			}
		}
		// hover
		&.hover-#{$name} {
			&:hover,
			&:focus {
				background-color: $value;
				border-color: $value;
			}
		}
	}
}

/*
 * => BUTTON STYLES
 * ---------------------------------------------------------------------------*/

body .x-btn {
	font-weight: bold;
}

// Build button classes from $mainColors list in _variables.scss
@each $name, $value in $mainColors {
	@include createButton($name, $value);
}