/*
 * => FONT VARS
 * ---------------------------------------------------------------------------*/
 // Declare your fonts in _fonts.scss
$BaseFontSize: 18px;
$fontfamilybase: 'Open Sans', sans-serif;
$fontfamilyalt: 'TrajanPro', serif;

// Mixin for rem font size and fallback
@mixin font-size($sizeValue: $BaseFontSize) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}


/*
 * => COLOR VARS & MIXINS
 * ---------------------------------------------------------------------------*/

/* Set the main site colors here */
$mainColors: (
	'white': #ffffff,
	'orange':#ff6633,
	'green': #339933,   
	'blue':  #006699,       
	'gray':  #333333
);




// return color value from given key
@function color($key) {
  @if map-has-key($mainColors, $key) {
    @return map-get($mainColors, $key);
  }
  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}







/*
 * => CONTAINERS AND WIDTHS
 * ---------------------------------------------------------------------------*/

// Site Width -> match this with the value set in customizer under "Layout and Design > Site Width (%)"
$sitewidth: 65%; 





/*
 * => MEDIA BREAKPOINTS
 * ---------------------------------------------------------------------------*/

// All media queries are in 'libraries/_include_media.scss'
// It's quite an extensive tool, with support for retina Media Queries, etc.
// How to use: http://include-media.com/#features

$breakpoints: (
  phone: 480px, 
  tablet: 767px, 
  tabletwide: 979px, 
  desktop: 1200px,
  ipadLandscape: 1024px,
  ipadPortrait: 768px
);
// usage: 
// @include media(">phone", "<=tablet") {
//  width: 50%;
// }


// GRADIENTS: http://simbo.github.io/2014/03/less-gradient-mixins-with-unlimited-colorstops.html


/*
 * => DEBUG
 * ---------------------------------------------------------------------------*/

// LINK: http://www.sitepoint.com/debugging-sass-maps/
@mixin debug-map($map) {
  @at-root {
    @debug-map {
      __toString__: inspect($map);
      __length__: length($map);
      __depth__: depth($map);
      __keys__: map-keys($map);
      __properties__ {
        @each $key, $value in $map {
          #{'(' + type-of($value) + ') ' + $key}: inspect($value);
        }
      }
    }
  }
}

@include debug-map($mainColors);
